html, body {
    height: 100%;
    width: 100%;
    background-color: #212121;
    color: #424242;
}

ul {
    list-style-type: none;
}

/*********************************************************
 ***********************  Classes  ***********************
 *********************************************************/

.center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.vcard {
    border: 1px solid #4F4F4F;
    box-shadow: 3px 4px 2px #0D0D0D;
}

.name {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto-Bold';
}

.job-title {
    font-size: 10pt;
    font-family: 'Roboto-LightItalic';
}

.info {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-size: 12pt;
    font-family: 'Roboto-Light';
}

/*********************************************************
 ***********************    IDs    ***********************
 *********************************************************/

#vcard-back {
    color: #FFF9F9;
    background-color: #3C8D2F;
    background-image: repeating-linear-gradient(transparent, 
                                                transparent 50px, 
                                                rgba(0,0,0,.4) 50px, 
                                                rgba(0,0,0,.4) 53px, 
                                                transparent 53px, 
                                                transparent 63px, 
                                                rgba(0,0,0,.4) 63px, 
                                                rgba(0,0,0,.4) 66px, 
                                                transparent 66px, transparent 116px, 
                                                rgba(0,0,0,.5) 116px, 
                                                rgba(0,0,0,.5) 166px, 
                                                rgba(255,255,255,.2) 166px, 
                                                rgba(255,255,255,.2) 169px, 
                                                rgba(0,0,0,.5) 169px, 
                                                rgba(0,0,0,.5) 179px, 
                                                rgba(255,255,255,.2) 179px, 
                                                rgba(255,255,255,.2) 182px, 
                                                rgba(0,0,0,.5) 182px,
                                                rgba(0,0,0,.5) 232px, 
                                                transparent 232px),
                      repeating-linear-gradient(270deg, 
                                                transparent, 
                                                transparent 50px, 
                                                rgba(0,0,0,.4) 50px, 
                                                rgba(0,0,0,.4) 53px, 
                                                transparent 53px, 
                                                transparent 63px,
                                                rgba(0,0,0,.4) 63px,
                                                rgba(0,0,0,.4) 66px, 
                                                transparent 66px, 
                                                transparent 116px, 
                                                rgba(0,0,0,.5) 116px,
                                                rgba(0,0,0,.5) 166px, 
                                                rgba(255,255,255,.2) 166px, 
                                                rgba(255,255,255,.2) 169px, 
                                                rgba(0,0,0,.5) 169px, 
                                                rgba(0,0,0,.5) 179px, 
                                                rgba(255,255,255,.2) 179px, 
                                                rgba(255,255,255,.2) 182px, 
                                                rgba(0,0,0,.5) 182px, 
                                                rgba(0,0,0,.5) 232px, 
                                                transparent 232px),
                      repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}

#vcard-front {
    background-color: #FFF9F9;
}


/*********************************************************
 *********************** OVERRIDES ***********************
 *********************************************************/
.row {
    margin-bottom: 10px;
    margin-top: 10px;
}